Flask
Flask-Cors
gunicorn
Flask-JWT-Extended
flask-marshmallow
Flask-SQLAlchemy
marshmallow-sqlalchemy
SQLAlchemy
Werkzeug
psycopg[binary]
python-dotenv
cryptography
resend
Flask-Limiter
sentry-sdk[flask]
opencv-python-headless
mediapipe
